@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
.tipElement
{
  display: block;
  position: relative;
}
.tipElement:hover
{
  cursor:pointer;
}
.arrow-down
{
  width: 0px;
  position: absolute;
  left:45%;
  top:100%;
  border-top:20px solid transparent;
  border-right:10px solid transparent;
  border-left:10px solid transparent;
}
